@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200;300;400;500&family=Lato:wght@100;300;400&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color:black;
}

.main-section {
  flex: 1 0 auto;
  margin-top: 5rem;
}

nav {
	background-color: rgb(143, 202, 143);
}

footer {
	background-color: rgb(143, 202, 143);
}
